<div class="col-lg-12">
	<h1><%= content_for(:title, "About") %>About</h1>

	<p>At the beginning of May 2014, community organizers put on the Chicago Summit on LGBT Youth Homelessness. The preliminary needs report is six-pages single-spaced.</p>

	<p>“We don’t even know what’s available to us.” - Homeless Youth</p>

	<p>Coming out of it organizers realized the need for a website for resources for LGBT homeless youth to connect them with services available to them.</p>

	<p>Enter The National Day of Civic Hacking event at the Adler Planetarium in Chicago, IL.</p>

	<p>On May 31, 2014 a 5 person team got together to create this website. Alison, <a href="http://twitter.com/nugentcodes" alt="Follow @nugentcodes on Twitter!">Janna</a>, Kelsey, <a href="http://twitter.com/laurendorman" alt="Follow @LaurenDorman on Twitter!">Lauren</a>, and Stuart hacked this site together in order to help LGBT homeless youth find resources.</p>

	<p>Follow our progress on Twitter at <a href="http://twitter.com/lgbthomeless" alt="Follow @LGBTQHomeless on Twitter!">@LGBTQHomeless</a>.
</div>

