<div class="main col-lg-12">
	<h1><%= content_for(:title, "About") %>About</h1>

	<p>At the <A HREF="http://chicagosummit.lgbthomelessness.org/">Chicago Summit on LGBT Youth Homelessness</a> in May 2014, community organizers realized the need for a website connecting LGBT homeless youth with resources already available to them.</p>

        <blockquote class="youth-quote">“We don’t even know what’s available to us.” - Homeless Youth</blockquote>

	<p>From May 31 - June 1 at 2014's <A HREF="http://hackforchange.org/">National Day of Civic Hacking</a>, held at Chicago's <A HREF="http://www.adlerplanetarium.org/">Adler Planetarium</a>, 5 people formed a team to create this website. <a href="http://twitter.com/alison985" alt="Follow @alison985 on Twitter!">Alison</a>, <a href="http://twitter.com/nugentcodes" alt="Follow @nugentcodes on Twitter!">Janna</a>, <a href"http://twitter.com/d_chan42" alt="Follow @d_chan42 on Twitter!"> Kelsey</a>, <a href="http://twitter.com/laurendorman" alt="Follow @LaurenDorman on Twitter!">Lauren</a>, and <a href="http://twitter.com/stuart_lynn" alt="Follow @stuart_lynn on Twitter!">Stuart</a> hacked this site together in order to help LGBT homeless youth find resources.</p>

	<p>Follow us on Twitter at <a href="http://twitter.com/lgbtqhomeless" alt="Follow @LGBTQHomeless on Twitter!">@LGBTQHomeless</a>.
</div>

