<div class="main col-lg-12">
	<h1><%= content_for(:title, "About") %>About</h1>

	<p>At the beginning of May 2014, community organizers put on the Chicago Summit on LGBT Youth Homelessness. The preliminary needs report is six-pages single-spaced.</p>

	<p>“We don’t even know what’s available to us.” - Homeless Youth</p>

	<p>Coming out of it organizers realized the need for a website for resources for LGBT homeless youth to connect them with services available to them.</p>

	<p>Enter The National Day of Civic Hacking event at the Adler Planetarium in Chicago, IL.</p>

	<p>On May 31, 2014 a 5 person team got together to create this website. <a href="http://twitter.com/alison985" alt="Follow @alison985 on Twitter!">Alison</a>, <a href="http://twitter.com/nugentcodes" alt="Follow @nugentcodes on Twitter!">Janna</a>, <a href"http://twitter.com/d_chan42" alt="Follow @d_chan42 on Twitter!"> Kelsey</a>, <a href="http://twitter.com/laurendorman" alt="Follow @LaurenDorman on Twitter!">Lauren</a>, and <a href="http://twitter.com/stuart_lynn" alt="Follow @stuart_lynn on Twitter!">Stuart</a> hacked this site together in order to help LGBT homeless youth find resources.</p>

	<p>Follow our progress on Twitter at <a href="http://twitter.com/lgbthomeless" alt="Follow @LGBTQHomeless on Twitter!">@LGBTQHomeless</a>.
</div>

