<div class="main col-lg-12">
	<h1><%= content_for(:title, "Services Calendar") %>Services Calendar</h1>

	<h2>Public Services Calendar</h2>
	<P>
		We've placed all services with specific hours (except for housing and internet access) on a Google Calendar. You can add it to your Google Calendar account or calendar software of your choice with any of the following methods.
		<BR>Calendar ID: b9ack0te8p7l0rsa0j1ddvmp6g@group.calendar.google.com
		<BR><A HREF="http://www.google.com/calendar/feeds/b9ack0te8p7l0rsa0j1ddvmp6g%40group.calendar.google.com/public/basic">XML Calendar Link</a>
		<BR><A HREF="http://www.google.com/calendar/ical/b9ack0te8p7l0rsa0j1ddvmp6g%40group.calendar.google.com/public/basic.ics">ICAL Calendar Link</a>
	</p>
</div>

