<div class="main col-lg-12">
	<h1><%= content_for(:title, "Public Services Calendar") %>Public Services Calendar</h1>

	<p>We've placed all services with specific hours (except for housing and internet access) on a Google Calendar. You can add it to your Google Calendar account or calendar software of your choice with any of the following methods.
		</br>Calendar ID: b9ack0te8p7l0rsa0j1ddvmp6g@group.calendar.google.com
		</br><A HREF="http://www.google.com/calendar/feeds/b9ack0te8p7l0rsa0j1ddvmp6g%40group.calendar.google.com/public/basic">Open in XML</a>
		</br><A HREF="http://www.google.com/calendar/ical/b9ack0te8p7l0rsa0j1ddvmp6g%40group.calendar.google.com/public/basic.ics">Open in iCal</a>
	</p>
</div>

