<div class="main col-lg-12">
	<h1><%= content_for(:title, "Contact Us") %>Contact Us</h1>
		<form>
            <fieldset>
            	<label name="name">Name<span class="required"> *</span></label>
                <input type="text" id="name" name="name" required="true" class="contact input-block-level" placeholder="Name">
                <label name="email">Email<span class="required"> *</span></label>
                <input type="text" id="email" name="email" required="true" class="contact input-block-level" placeholder="Email">
                <label name="message">Your Message<span class="required"> *</span></label>
                <textarea rows="3" id="message" name="message" required="true" class="contact input-block-level" placeholder="Message"></textarea>
                <button type="submit" class="contact-button">Submit</button>
            </fieldset>
        </form>
</div>