<div class="main col-lg-12">
	<h1><%= content_for(:title, "Give Help") %>Give Help</h1>

	<%= link_to "Volunteer", volunteer_path %><BR>
	<%= link_to "Wish List Items", wish_lists_path %><BR>
	<%= link_to "Donate Money", donate_money_path %>
</div>