<div class="main col-lg-12">
	<h1><%= content_for(:title, "Give Help") %>Give Help</h1>

	<h3><%= link_to "Volunteer", volunteer_path %></h3>
	<h3><%= link_to "Wish List Items", wish_lists_path %></h3>
	<h3><%= link_to "Donate Money", donate_money_path %></h3>
</div>