<div class="col-lg-12 jumbotron">
	<h1><%= content_for(:title, "Resources for LGBT Homeless Youth") %>Resources for LGBT Homeless Youth</h1>
</div>

<div class="col-lg-6">
  <button class="call-to-service"><%= link_to "I need help", who_are_you_path %></button>
</div>
<div class="col-lg-6">
  <button class="call-to-service"><%= link_to "I want to help", volunteer_path %></button>
</div>

<div class="col-lg-12">
	<h3 class="serving">Serving Chicago area LGBT youth.</h3>
</div>

<div class="col-lg-12">
	<!-- Begin MailChimp Signup Form -->
	<div class="mailchimp">
	<h4 class="subscribe">Subscribe to our mailing list</h4>
	<div id="mc_embed_signup">
	<form action="http://lgbthomelessness.us8.list-manage1.com/subscribe/post?u=78316305daef30d40b00afba9&amp;id=fc129acb37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
	        <label for="mce-EMAIL">Email Address  <span class="required">*</span>
	</label></br>
	<div class="form-group">
	        <input type="email" value="" name="EMAIL" class="required email input-block-level input-lg form-control" id="mce-EMAIL">
	    </div>
	    <div class="form-group">
	        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button form-control">
	    </div>
	</form>

		        <div id="mce-responses" class="clear">
	                <div class="response" id="mce-error-response" style="display:none"></div>
	                <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_78316305daef30d40b00afba9_fc129acb37" tabindex="-1" value=""></div>
	</div>
	</div>
	<!--End mc_embed_signup-->
</div>
