
<div class="jumbotron">
	<h1><%= content_for(:title, "Resources for LGBT Homeless Youth") %>Resources for LGBT Homeless Youth</h1>
</div>

<div class="col-md-6">
  <button class="call-to-service">I need help</button>
</div>
<div class="col-md-6">
  <button class="call-to-service">I want to help</button>
</div>
