<div class="main col-lg-12">
	<h2><%= content_for(:title, "How can we help you?") %>You are not alone.</h2>

	<form method='get' action='/organizations'>
	<p>What services do you need?</p>
	<input type="checkbox" name="housingAndFood" value="Housing/Shelter, Food & Drop-In"> Shelter, Food, Drop-In<br/>
	<input type="checkbox" name="hotline" value="Hotline"> Hotlines<br/>
	<input type="checkbox" name="health" value="Health including Counseling"> Health including Counseling<br/>
	<input type="checkbox" name="legal" value="Legal including Domestic Violence">
	Legal including Domestic Violence<br/>
	<input type="checkbox" name="educationAndEmployment" value="Education and Employment"> Education, Employment</br>
	<input type="checkbox" name="artAndActivism" value="Art and Activism"> Art, Activism</br></br>

	<p>What is your current age?<span class="required"> *</span> <small> We only require age to make sure we don’t show you a program you aren’t eligible for, however additional information can help refine your search further.</small> </p>
		<select name="age" id="age">
		<option selected="selected">Select your age</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26+</option>
		</select>

	<p>What is your sexual orientation?</p>
	<select name="orientation" id="sexualOrientation">
	        <option selected="selected">Select your orientation</option>
		<option value="gay">Gay</option>
		<option value="lesbian">Lesbian</option>
		<option value="bisexual">Bisexual</option>
		<option value="straight">Straight</option>
	</select>

	<p>What gender do you identify as?</p>
	<select name="sex" id="sex">
	        <option selected="selected">Select your gender</option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	</select>

	<p>Programas de habla hispana sólo?</p>

	<div class="radio">
	    <input type="radio" name="spanish" id="optionYes" value="y">
	    Yes</br>
	    <input type="radio" name="spanish" id="optionNo" value="n" checked>
	    No
	</div>


	<button class="resources-button">Submit</button>
	</form>


</div>
