<div class="main col-lg-12">
	<h1><%= content_for(:title, "Wish Lists") %>Wish Lists</h1>

Yes indicates the organization will accept and is seeking the item.
<BR/><br />

	<table border=1 cellspacing=5 cellpadding=5>
		<TR >
			<TD width="70">
			<Th width="14%">The Night Ministry<BR>The Crib
			<Th width="14%">Lakeview Presbyterian Church<BR>Cafe Pride
			<Th width="14%">Broadway United Methodist Church<BR>Youth Lounge
			<Th width="14%">Chicago House
			<Th width="14%">Howard Brown Health Center
			<Th width="14%">Broadway Youth Center<BR>(BYC, an HBHC program)
		</tr>
		<TR>
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>Donations go to The Brown Elephant<BR>
				3020 N. Lincoln
			<TD>
		</tr>
		<TR>
			<TD>gallon ziploc bags
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>toothpaste
			<td>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>toothbrush
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>dental floss
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>deodorant
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>bar soap
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>body wash
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>shampoo
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>conditioner
			<td>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>lip balm
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<td>sunscreen
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>moisturizer
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>comb
			<TD>
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>razor
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>tampons
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>sanitary pads
			<TD>yes
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR >
			<TD>
			<Th>The Night Ministry<BR>The Crib
			<Th>Lakeview Presbyterian Church<BR>Cafe Pride
			<Th>Broadway United Methodist Church<BR>Youth Lounge
			<Th>Chicago House
			<Th>Howard Brown Health Center
			<Th>Broadway Youth Center<BR>(BYC, an HBHC program)
		</tr>
		<TR>
			<TD>socks
			<TD>new adult size tube socks
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>underwear
			<TD>new in a variety of sizes, especially colorful
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>yes
		</tr>
		<TR>
			<TD>disposable eating items
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>disposable cups, paper plates, plastic utensils
		<TR>
			<TD>towel set (wash cloth, hand/face towel, and bath towel)
			<TD>yes
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>Bus Cards
			<TD>1-day and 1-ride passes for getting to appointments, interviews, work, and school
			<TD>
			<TD>yes
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>Hospital Scrubs
			<TD>range of sizes for sleeping and wearing while doing laundry
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>Gift cards
			<TD>particularly to KMart and Target (for clothes), CVS and Walgreens (for prescription medications), and McDonalds and Subway (for special youth outings)
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>Clothing
			<TD>No
			<TD>
			<TD>yes
			<TD>new or gently used, especially interview clothing
			<TD>
			<TD>
		</tr>
		<TR>
			<TD>furniture
			<TD>
			<TD>
			<TD>
			<TD>Yes
			<TD>Yes
			<TD>
		</tr>
		<TR>
			<TD>Other
			<TD>nose syringes (baby), baby wash cloths, baby powder, vaseline, baby nail clippers, A&D ointment/diaper creme, disposable changing pads
			<TD>art supplies, games
			<TD>
			<TD>books, toys
			<TD>
			<TD>Hair clippers, curling irons
		</tr>
		<TR>
			<TD>Everything else
			<TD>
			<TD>
			<TD>
			<TD>
			<TD>Go here
			<TD>
		</tr>
	</table>
</div>

