<div class="col-lg-12">
  <ul class='list-group'>
    <% @organizations.each do |organization| %>
      <li class='list-group-item"'><%= link_to organization.name, organization %> <span class="badge"><%=organization.programs.count%></span></li>
    <%end%>
  </ul>
</div>
